table {
    margin: 0 auto 20px auto;
    border-spacing: 3px;
}

td {
    padding: 3px;
}

.table1 {
    width: 1010px;
    height: 100px;
}

.table1, .table1 th, .table1 td {
border: 1px solid black;
}

.table2 {
    width: 600px;
    height: 220px; 
}

.table2, .table2 th, .table2 td {
    border: 1px solid black;
}

.table2 tr:nth-child(n+2) th {
    text-align: left;
}

.table3 {
    width: 594px;
    height: 370px;
border-collapse: collapse;
}

.table3 th {
    text-align: left;    
}

.table3{
    outline: 3px outset #9a9a9a;
}

.table3 th, .table3 td {
    border: 2px outset #9a9a9a;
}

.table3 tr:nth-child(n+2) td {
vertical-align: top;
}